.aside{
    width:2rem;
    background-color: #5861AE;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 34.3rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    place-items: center;
}
.aside >div{
    margin-top: 20px;
}
.aside >div:hover{
   transform: scale(1.2);
}
.more{
    padding: 5px;
}